.gradle/
*.iml
*.ipr
*.iws
.idea/
build/
out/
target/
.classpath
.project
tmp/
.DS_Store
package-lock.json
node_modules

**/nav.adoc
**/docs/modules/categories/
**/docs/modules/versions/
**/docs/modules/features/
